.popup-panel {
    min-width: 300px;
    min-height: 200px;
    padding: 20px;
}

#initialPopup > button {
    display: block;
    margin: 1rem auto;
    width: 75%;
}

#loggedInPopup {
    display: none;
}

#registerPopup {
    display: none;
}

#loginPopup {
    display: none;
}