.nav-logo {
    width: 40px;
}

.card {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.btn-div {
    margin: auto;
    justify-content: center;
}

.btn-div > button {
    margin: 10px;
    max-width: 200px;
}


.list-group {
    margin: 10px 0;
}


.vault-entry:hover {
    background-color: lightgray;
}

#newPwdFromVault {
    max-width: fit-content;
}